-# %h1 Messages#index
-# %p Find me in app/views/messages/index.html.haml
-# ↑これ消しといていいと思う 1/21 14:50


-# 1/21 サイドバーとチャット画面のビューが読み込まれるように設定
-# 部分テンプレートの読み込みのためファイル名先頭の「_」や拡張子は不要
.wrapper_1
  = render "side_bar_2"
  = render "main_chat_3"



