-# =form_for @group do |f|
-#   = f.text_field :name, class: "chat-group-form__input", placeholder: "グループ名を入力してください"
-#   = f.collection_check_boxes :user_ids, User.all, :id, :name
-#   = f.submit "Save", class: "chat-group-form__action-btn"
  -# 1/29_記載 保存機能の実装の課程 現状ではform_withに変わっている事を留意

-# 1/29 ↑！！！全部削除_form.html.hamlに移動したから

-# .chat-group-form
-#   %h1 新規チャットグループ
-#   = render partial: 'form', locals: { group: @group }

  -# 1/29_newとeditからは、ほとんど_formを呼び出すだけ

  1/30＿下全部追記できていなかったぽい

.chat-group-form
  %h1 新規チャットグループ
  = render 'form',{group:@group}
  -# %form#new_chat_group.new_chat_group{"accept-charset": "UTF-8", action: "/groups", method: "post"}
  -#   %input{name: "utf8", type: "hidden", value: "✓"}/
  -#   %input{name: "authenticity_token", type: "hidden", value: "AxFKlYEhD6eqX1PiZoTYQDANtKvgcFSXZQXHt5hyTl55/U/CHC5rtPavrcu2za65riz4tekZEy56vP6kEb2wYA=="}/
  -#   .chat-group-form__field.clearfix
  -#     .chat-group-form__field--left
  -#       %label.chat-group-form__label{for: "chat_group_name"} グループ名
  -#     .chat-group-form__field--right
  -#       %input#chat_group_name.chat-group-form__input{name: "chat_group[name]", placeholder: "グループ名を入力してください", type: "text"}/
  -#   .chat-group-form__field.clearfix
  -#     / この部分はインクリメンタルサーチ（ユーザー追加の非同期化のときに使用します
  -#   .chat-group-form__field.clearfix
  -#     .chat-group-form__field--left
  -#       %label.chat-group-form__label{for: "chat_group_チャットメンバー"} チャットメンバー
  -#     .chat-group-form__field--right
  -#       / グループ作成機能の追加時はここにcollection_check_boxesの記述を入れてください
  -#       / この部分はインクリメンタルサーチ(ユーザー追加の非同期化)のときにも使用します
  -#   .chat-group-form__field.clearfix
  -#     .chat-group-form__field--left
  -#     .chat-group-form__field--right
  -#       %input.chat-group-form__action-btn{"data-disable-with":"Save", name: "commit", type: "submit", value: "Save"}/