.messages{
  background-color: #FAFAFA;
  height: calc(100vh - 190px);
  padding: 46px 40px ;
}
.message {
  background-color: #FAFAFA;
}
.upper-message_28{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.upper-message__user-name_29{
  font-size: 16px;
  color: #424A53;
  margin:0 ;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.upper-message__date_30{
  color: #424A53;
  font-size: 12px;
  margin:0 0 0 10px ;
}
.lower-message_32{
  color: #424A53;
  font-size: 14px;
  margin-bottom: 46px ;     
}
.lower-message__content{
  margin-bottom:10px;
  font-size: 14px;
}