.side-main_6 {
 background-color: #2F3E51;
 height: calc(100vh - 100px);
}
.side-main__group-name_25 {
 padding:20px 20px 5px 20px;
 font-size: 15px;
 color: #ffffff;
 margin: 0;
}
.side-main__message-list_26{
 font-size: 11px;
 color: #ffffff;
 display: flex;
 list-style: none;
 margin : 0 20px 40px 20px ;
}