.wrapper_1 {
 display: flex;
 height: 100vh;
}
.side-bar_2{
 width : 300px ;
 // 300px
 background-color: #2F3E51;
 // display: flex;
}
.side-bar__header_4 {
 background-color :#243041;
 height: 100px ;
 width : 300px;
 padding-right: 20px;
 padding-left:20px ;
 line-height: 100px;
}
.side-bar__header-box_9{
 background-color :#243041;
 width : 260px;
 height :20px ;
 font-weight: bold;
 display: flex;
 justify-content: space-between;
}
.side-bar__header-box__name_10{                            
 color: #eeeeee;
 font-size: 16px;
}
.header--box__button-list_11{
 list-style: none ;
 display: flex;
 /* newとeditを横並びにする（親要素のリストで） */
}
.header--box__button-new_12{
 margin-right: 5px;
 // ↓元々aタグにあった
 text-decoration: none;/* 下線消す */
 .icon{
  color: #eeeeee;
 }
}
.header--box__button-edit_13{
 .icon{
 color: #eeeeee;
 }
}
.side-main__group_6{
 height: calc(100vh - 100px);
 background-color: #2f3e51;
 padding: 20px 20px 0;
 overflow: scroll;
}
.group_24 {
 background-color: #2F3E51;
 // height: calc(100vh - 100px);
 margin-bottom: 40px;
}
.group__name_25{
 margin:20px 20px 5px 20px;
 font-size: 15px;
 color: #ffffff;
 margin: 0;
}
.group__message_26{
 font-size: 11px;
 color: #ffffff;
 display: flex;
 list-style: none;
 margin : 0 0 40px;
}

